[package]
name = "migrator"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = { version = "4.5.13", features = ["color", "derive"] }
minijinja = { version = "2.6.0", features = ["loader"] }
toml = "0.8"
serde = { version = "1.0", features = ["derive"] }
tokio = { version = "1.44", features = ["full"] }
sqlx = { version = "0.8", features = [ "runtime-tokio", "tls-native-tls", "postgres" ] }

twox-hash = { version = "2", features = ["xxhash3_128"] }

anyhow = "1.0"
walkdir = "2"
