spawn_folder = "static/example"
database = "postgres_psql"        # Sets default to use.

# [databases.postgres_builtin]
# environment = "prod"
# spawn_database = "spawn"
# spawn_schema = "_spawn"
# engine = "postgres-builtin"
# connstring = "postgres://spawn:spawn@localhost:7654/spawn"

[databases.postgres_psql]
environment = "dev"
spawn_database = "spawn"
engine = "postgres-psql"
spawn_schema = "_spawn"
command = ["docker", "exec", "-i", "spawn-db", "psql", "-U", "spawn", "spawn"]

# [databases.mysql_client]
# spawn_database = "spawn"
# engine = "mysql-client"
# command = [
#     "docker",
#     "exec",
#     "-i",
#     "spawn-db",
#     "mysql",
#     "-u",
#     "spawn",
#     "-pspawn",
#     "spawn",
# ]
